<div class="container">
    
    <!-- Title Page -->
    <div class="row text-center mt-5 mb-2">
        <div class="col-12 bodyTitle aling-items-center">   
            <h1 class="tileHead">Consulta Avançada</h1>
        </div>
    </div>

    <form [formGroup]="foundpartForm" (ngSubmit)="onSubmit()">

        <div class="row text-center bodyLogin">

            <div class="col-12">
                <input type="text" placeholder="Código da Peça" class="inputTxt" formControlName="id">
                <button class="btn btn-primary ml-2" type="submit" [disabled]="!foundpartForm.valid" >Pesquisar</button>
            </div>

        </div>
    </form>

    
    <div class="row text-center">
        <div class="col-12 spacingIphone"></div>
    </div>


    <div class="row mt-2 mb-1 leftDivInfo">
        <div class="col-6 ml-5">
            Descrição: <h6>{{ foundPart.description }}</h6>
            Item: <h6>{{ foundPart.item }}</h6>
            Preço: <h6>{{ foundPart.price }}</h6>
            Cor: <h6>{{ foundPart.color}}</h6>
            <button (click)="partToEdit(foundPart)" [routerLink]="['/editpart']" type="button" class="btn btn-outline-primary mt-2 mr-2" [disabled]="!foundpartForm.valid">Editar</button>
            <button (click)="deletePart(foundPart)" class="btn btn-outline-danger mt-2" [disabled]="!foundpartForm.valid">Deletar</button>
        </div>  
        <div class="col-5 text-left">
            <img [src]="foundPart.urlPicture" class="img-fluid picturesParts rounded mx-auto d-block"><br>
        </div>  
    </div>





</div> <!-- END CONTAINER -->