<div class="container">
    
    <!-- Title Page -->
    <div class="row text-center">
        <div class="col-12 bodyTitle aling-items-center">   
            <h1 class="tileHead">Falow.app</h1>
        </div>
    </div>

    <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">

        <div class="row text-center bodyLogin">

            <div class="col-12">    
                <input type="text" placeholder="E-mail" class="inputTxt" formControlName="email">
            </div>

            <div class="col-12">
                <input type="password" placeholder="Senha" class="inputTxt" formControlName="senha">
            </div>

            <div class="col-12 ">
                <button class="buttonInfo" type="submit" [disabled]="!formularioLogin.valid">ENTRAR</button>
            </div>

            <div class="col-12 mb-5" style="margin-top: 20px; margin-bottom: 20px;">
                <a href="#" >Esqueci minha senha</a>
            </div>

        </div>
    </form>

    <div class="row text-center">
        <div class="col-12">
            <button class="buttonInfo" [routerLink]="['/cadastrar-usuario']" >Criar uma Conta</button>
        </div>
    </div> 

    
    <div class="row text-center">
        <div class="col-12 spacingIphone">
        </div>
    </div>

    




</div> <!-- END CONTAINER -->