/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


/* Config for inputs */
.inputTxt{
    width: 400px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(201, 221, 250);
    outline: none;
    border-bottom-width: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
}
.inputTxt:hover{
    border-color: rgb(97, 155, 241);
    transition: 0.5s;
}
.inputTxt:focus{
    border-color: rgb(97, 155, 241);
}